#wpup-user-profile {
  width: 100%;
}
.wpup-user-profile-admin .wpup-profile-update-btn {
  display: block;
}
.wpup-user-profile-admin .wpup-content-wrap {
  float: left;
  width: 65%;
}
.wpup-user-profile-admin #wpup-settings-panel-wrap {
  right: 1%;
  left: auto;
  top: 61px;
}
.wpup-ele-wrap:hover > .wpup-el-sort {
  border: 1px dashed;
}
